<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Partners</title>
</head>

<body>
  <div class="container">
    <mat-toolbar color="primary">
      <span class="fill-remaining-space"></span>
      <mat-icon class="icon">fitness_center</mat-icon>
      <span class="title">Listado de personas</span>
      <span class="fill-remaining-space"></span>
    </mat-toolbar>
    <app-partner></app-partner>
  </div>
</body>

</html>