* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --black: #131313;
  --white: #fafafa;
  --alpha: rgba(0, 0, 0, 0.4);
  --shadow-first: rgba(92, 92, 92, 0.1);
  --shadow-second: rgba(82, 82, 82, 0.2);
  --border: #272727;
  --marked: #fa8333;
}

.span {
  margin: auto;
}

.title {
  text-transform: uppercase;
  letter-spacing: 10px;
}

.icon {
  margin-left: 20px;
  margin-right: 50px;
}

.mat-toolbar.mat-primary
{
  background: var(--marked);
}